<footer>
    <div class="container">
        <div class="logo-footer">
            <a href="/">
                <h1>ReuniteIt</h1>
            </a>
        </div>
        <div class="footer-content">
            <div>
                <p>ReuniteIt is dedicated to creating meaningful connections between lost items and their owners
                    through innovative technology and a thriving community.</p>
                <div class="social-icons">
                    <a href="mailto:sakshamojha9461@gmail.com"><i class="fa-solid fa-envelope"></i></i></a>
                    <a href="https://github.com/Saksham9461" target="_blank"><i class="fa-brands fa-github"></i></a>
                    <a href="https://www.linkedin.com/in/saksham-ojha-08377329b/" target="_blank"><i
                            class="fab fa-linkedin-in"></i></a>
                    <a href="https://www.instagram.com/sakshamojha7/" target="_blank"><i
                            class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div>
                <h4>Information</h4>
                <div class="footer-links">
                    <a href="/about-us"><i class="fas fa-chevron-right"></i> About Us</a>
                    <a href="/contact"><i class="fas fa-chevron-right"></i> Contact</a>
                    <a href="/privacy-policy"><i class="fas fa-chevron-right"></i> Privacy Policy</a>
                    <a href="/terms-of-service"><i class="fas fa-chevron-right"></i> Terms of Service</a>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="one"> &copy; 2025 ReuniteIt. All rights reserved. </div>
            <div class="two">
                Made with <i class="fa-regular fa-heart" style="color: #ff0000;"></i> by <a
                    href="https://www.linkedin.com/in/saksham-ojha-08377329b/" target="_blank">Saksham Ojha</a>
            </div>
        </div>
    </div>
</footer>